.headerContainer {
  padding: 2.8rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 12.1rem;
}

.navMenu {
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.navMenu li {
  position: relative;
  user-select: none;
}

.navMenu li:nth-child(1)>img,
.navMenu li:nth-child(2)>img {
  margin-left: 1.4rem;
}

/* .navMenu li:nth-child(1)::after,
.navMenu li:nth-child(2)::after {
  content: '';
  position: absolute;
  background: url('../../assets/images/arrow.svg') no-repeat center center;
  width: 10px;
  height: 5px;
  top: 42%;
  right: -20px;
  display: inline-block;
} */

.navMenu li+li {
  margin-left: 3.4rem;
}

.btnContainer {
  display: flex;
  gap: 1.6rem;
}

.logo {
  position: relative;
}

.logo::after {
  content: '';
  width: 43px;
  height: 2px;
  background: #00aeff;
  position: absolute;
  bottom: -28px;
  left: 0px;
}

.hamburguerBtn {
  display: none;
}

.navMenu li img {
  transition: 0.3s;
}

.navMenu li.arrowActive img {
  transform: rotate(180deg);
}

/* .navMenu li.arrowActive svg path {
  stroke: var(--blue);
} */

@media (max-width: 1130px) {
  .leftHeader nav {
    display: none;
  }

  .hamburguerBtn {
    border: none;
    background: transparent;
    display: block;
  }

  .hamburguerBtn>div {
    width: 28px;
    height: 2px;
    background: white;
  }

  .hamburguerBtn>div+div {
    margin-top: 1rem;
  }

  .rightHeader {
    display: flex;
    gap: 7.4rem;
  }
}

@media (max-width: 800px) { 
  .btnContainer {
    display: none;
    margin-left: 1.6rem;
    padding-right: 0px;
  }

  .hamburguerBtn {
    padding-right: 0px;
  }
}