.menuModalContainer {
  background: linear-gradient(360deg, #020203 0%, rgba(14, 17, 23, 0.92) 96.35%, rgba(14, 17, 23, 0.90) 100%);
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  position: absolute;
  top: 0;
  z-index: -1;
  transition: .5s;
}

.menuModalJogos {
  height: 64rem;
  transform: translateY(-64rem);
}

.menuModalEsportes {
  height: 49.7rem;
  transform: translateY(-52rem);
}

.menuModalContainerActive {
  transform: translateY(0);
  animation: display 1s forwards;
  /* opacity: 0; */
}


@keyframes display {
  0% {
    opacity: 0;
  }
  50% {
    background-color: green;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes display {
  100% {
    opacity: initial;
  }
} */

.menuModal ul {
  display: grid;
  justify-items: center;
  gap: 3.2rem;
}

.menuModal ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .9rem;
}

.menuModalJogos .menuModal ul {
  grid-template-columns: repeat(6, 1fr);
  padding-top: 13.5rem;
  padding-bottom: 5.5rem;
}

.menuModalJogos .menuModal ul li {
  padding: 3.2rem 3.6rem;
  cursor: pointer;
}

.menuModalEsportes .menuModal ul {
  grid-template-columns: repeat(5, 1fr);
  padding-top: 14.5rem;
  padding-bottom: 5.5rem;
}

.menuModalEsportes .menuModal ul li {
  padding-bottom: 3.1rem;
  cursor: pointer;
}

.menuModalFooter {
  opacity: 0.699999988079071;
  background: #15171B;
  width: 100%;
  height: 7rem;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuModalFooter ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}

.menuModalFooter ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}